/* 
	style.css
	vyduno
	Author: Tomas Vosylius tovo.lt
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	 font: inherit; */
	vertical-align: baseline;
}
/* Bootstrap fix */
.container-fluid, div[class^='col-'], div[class*=' col-'] {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.align-left { text-align: left; }
.align-center {	text-align: center; }
.align-right { text-align: right; }
.padding-0 { padding: 0px; }
.padding-sm { padding: 2px; }
.padding-md { padding: 5px; }
.padding-right-15 { padding-right: 15px !important; }
.padding-left-15 { padding-left: 15px !important; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Body */
body {

}

/* Header */
.header-image {
	padding: 5px;
}
.logo-header {
	/* background: rgba(0, 0, 0, 0.3); */
}


/* Site */
.site {
	background: url(https://www.pptgrounds.com/wp-content/uploads/2013/07/Colored-Music-Notes-Style-PPT-Backgrounds-1000x750.jpg) no-repeat;
	background-size: 100%;
}
.site-inner {
	margin: 0 auto;
}
.site-width {
	max-width: 69% !important;
	width: 69% !important;
	margin: auto;
}


/* Site-content */
.site-content {
	margin: auto;
	padding-top: 25px;
	min-height: 600px;
	
}

/* Post content */
#primary article
{
	background: #f3f3f3;
	border: 1px solid #c2c2c2;
}
#primary article:not(:first-child) {
	margin-top: 20px;
}

.entry-title {
	border-bottom: 1px solid #e3e3e3;
	padding: 5px;
	padding-left: 9px;
	font-size: 17px;
}
.entry-title a {
	color: #363636;
	text-decoration: none;
}
.entry-content, .entry-meta {
	background: #f3f3f3;
	padding: 8px;
	font-size: 14px;
}


/* Sidebars */
.sidebar .widget {
	background: #f3f3f3;
	border: 1px solid #c2c2c2;
}
.sidebar .widget:not(:first-child) {
	margin-top: 20px;
}
/* tekstas */
.sidebar .widget h2 {
	border-bottom: 1px solid #e3e3e3;
	font-size: 17px;
	padding: 5px;
	padding-left: 9px;
	color: #363636;
}
.sidebar .widget {
	font-size: 14px;
}

/* Widgets */
.sidebar .widget > * {
	padding: 8px;
}
.sidebar .widget iframe, .textwidget img {
	max-width: 100%;
}


/* Footer */
.page-footer {
	margin-top: 20px;
	background: #474747;
	min-height: 200px;
	/* text */
	color: #7e7e7e;
	font-size: 13px;
}

.page-footer a {
	color: #b4b4b4;
}

.page-footer h3.footer-title {
	font-size: 17px;
	color: #f0f0f0;
}
.page-footer .footer-meta {
	padding-top: 4px;
	color: #a8a8a8;
}

.footer-inner {
	padding-top: 20px;
	padding-bottom: 20px;
}




/* Navigation prie logo */
.main-nav ul {
	background: #fff;
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-nav li {
	position: relative;
	float: left;
}
.main-nav li a {
	display: block;
	font-size: 13px;
}
.main-nav li a span {
	display: none;
}
.main-nav ul ul {
	float: left;
	position: absolute;
	top: 50px;
	left: -999em;
	z-index: 99999;
	display: none;
}
.main-nav ul ul a {
	white-space: nowrap;
	text-align: left;
	width: 100%;
	padding: 15px 25px 15px 20px;
	/* min-width: 190px; */
	float: none;
}
.main-nav ul ul ul {
	top: 0px;
}
.main-nav ul ul li {
	float: none;
	width: 100%;
	display: block;
}

.main-nav ul ul li:first-child {
}
.main-nav ul ul ul li:first-child {
}

.main-nav ul ul a:hover,
.main-nav ul ul a.focus {
	color: #000 !important;
}

.main-nav ul li:hover > ul,
.main-nav ul li.focus > ul {
	left: 0;
	display: block;
}

.main-nav ul ul li:hover > ul,
.main-nav ul ul li.focus > ul {
  right: 100%;
}

.main-nav ul ul li.current_page_item > a,
.main-nav ul ul li.current-menu-item > a,
.main-nav ul ul li.current_page_ancestor > a {
	color: #000 !important;
}


#primary-menu,
#main-menu > div {
	display: inline-block;
	vertical-align: top;
}

.main-nav {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.main-nav li a {
	padding: 10px 16px 22px;
}
.main-nav ul ul {
	top: 48px;
}
.main-nav ul ul li {
	position: relative;
}
.main-nav ul ul ul {
}
.main-nav ul li:hover > ul,
.main-nav ul li.focus > ul {
	right: auto;
	left: 0;
}
.main-nav ul ul li:hover > ul,
.main-nav ul ul li.focus > ul {
	right: auto;
	left: 100%;
}



/* Navigation under logo */
.quick-links-nav-wrapper {
	border: 1px solid #999999;
	border-radius: 5px;
}
.quick-links-nav {
	clear: both;
	display: inline;
}
.quick-links-nav-list {
	float: left;
}
.quick-links-nav-search {
	float: right;
}

.quick-links-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.quick-links-nav li {
	float: left;
}
.quick-links-nav li:not(:last-child) {
	border-right: 1px solid #e4e4e4;
}
.quick-links-nav li a {
	font-size: 13px;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.quick-links-nav a:hover:not(.active) {
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
